[submodule "UnityPlugins/Assets/XIV"]
	path = UnityPlugins/Assets/XIV
	url = https://github.com/alimertcetin/XIV.git
[submodule "UnityPlugins/Assets/Packages/xiv.filo.inventorysystem"]
	path = UnityPlugins/Assets/Packages/xiv.filo.inventorysystem
	url = https://github.com/alimertcetin/xiv.filo.inventorysystem.git
[submodule "UnityPlugins/Assets/Packages/xiv.filo.so.channels"]
	path = UnityPlugins/Assets/Packages/xiv.filo.so.channels
	url = https://github.com/alimertcetin/xiv.filo.so.channels.git
[submodule "UnityPlugins/Assets/Packages/xiv.filo.inventorysystem.so.channels"]
	path = UnityPlugins/Assets/Packages/xiv.filo.inventorysystem.so.channels
	url = https://github.com/alimertcetin/xiv.filo.inventorysystem.so.channels.git
[submodule "UnityPlugins/Assets/XIVUnityIntegration"]
	path = UnityPlugins/Assets/XIVUnityIntegration
	url = https://github.com/alimertcetin/XIVUnityIntegration.git
